<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7851d9d6-545f-40d0-b617-fd112c8e6ae4/resourceGroups/wineryResources/providers/Microsoft.Web/sites/WineryApi</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://wineryapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>dd7ad4c1-223a-43fa-a8bf-8f1dc4bb3032</ProjectGuid>
    <PublishUrl>https://wineryapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$WineryApi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>